<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login/Reg</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:500&display=swap" rel="stylesheet">
    <style>
    .loginpage {

    padding: 50px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;

    }
        .card2{
    background:
    radial-gradient(black 15%, transparent 16%) 0 0,
    radial-gradient(black 15%, transparent 16%) 8px 8px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
    background-color:#282828;
    background-size:16px 16px;
    color: white;
    border-radius: 10px
    
    }
</style>
</head>
<body>
    @using infertilityAndBeyondProject.Models
    @model LoginRegWrapper
    <nav class="navbar navbar-light">
        <img class="mx-auto d-block img-responsive" style="width: 400px;" src="img/logo.png" alt="logo">
    </nav>
    <div class="container-fluid bg-info loginpage">
        <div class="row">
            <div style="width: 450px;" class="shadow p-4 m-3 mx-auto card2">
                <div class="">
                <form asp-action="LoginValidate" method="post">
                    <h1 class="text-center">Login</h1>
                    <div class="form-group">
                        <label for="">Email</label>
                        <input placeholder="Email" asp-for="Login.Email" class="form-control">
                        <span class="text-danger" asp-validation-for="Login.Email"></span>
                    </div>
                    <div class="form-group">
                        <label for="">Password</label>
                        <input placeholder="Password" asp-for="Login.Password" class="form-control">
                        <span class="text-danger" asp-validation-for="Login.Password"></span>
                    </div>
                    <button class="btn btn-success">Login</button>
                </form>
       
                <p class="p-4 font-weight-light" style="float: right;">Not Registered? Click <a href="Registration">here</a></p>
                </div>
            </div>
        </div>
        </div>
    </div>
</body>
</html>
